.App {
  text-align: center;
  /* z-index: 2; */
  background-color: rgb(138, 232, 255);
}

#headdiv {
  background-color: rgb(56, 192, 255);
  padding-bottom: 20px;
  box-shadow: 0 -100px 4px 0px rgb(56, 192, 255);
}

.ticket {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: fit-content;
  padding: 0.5rem 2rem 2rem;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  background-color: rgb(18, 245, 226);
}

.ticket-content,
.ticket-header {
  width: 15rem;
  word-wrap: break-word;
}

.ticket-header {
  padding: 2rem 0 0;
}

.label {
  text-align: center;
  padding: 0px 3px 1px 3px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 10px;
}

.Corvid {
  background-color: gray;
}

.Api {
  background-color: rgb(130, 161, 172);
}

.Guidelines {
  background-color: lightgreen;
}

.Problem {
  background-color: tomato;
}

.Collapse {
  background-color: rgb(250, 85, 162);
}

.Expand {
  background-color: rgb(100, 250, 200);
}

.Login {
  background-color: lightcoral;
}

.Tutorial {
  background-color: cyan;
}

.View.Count {
  background-color: cornflowerblue;
}

#tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 2rem;
  margin-top: 4rem;
}

.ticket {
  position: relative;
  width: fit-content;
  padding: 0.5rem 2rem 2rem;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.shown {
}

#hideTicketButton {
  position: absolute;
  right: 1rem;
  width: 2rem;
  height: 1.8rem;
  opacity: 0;
}

.done {
  background-color: lightgreen;
}

.undone {
  background-color: rgb(80, 202, 250);
}

.showdiv {
  z-index: 5;
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  background-color: cyan;
  margin: 20px 20px 20px 20px;
  /* border: 5px solid rgb(0, 140, 255); */
  border-radius: 20px;
  box-shadow: 0 10px 4px 0px rgb(0, 196, 196);
}

input[type="text"] {
  width: 15rem;
  height: 2.5rem;
  border-radius: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: rgb(110, 203, 231);
  font-size: 1.3rem;
}

input[type="text"]:focus {
  width: 30%;
  outline-style: none;
}

.morespan {
  background-color: rgb(133, 255, 214);
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
  box-shadow: 0 5px 0px 0px rgb(0, 127, 136);
}

.morespan:hover {
  background-color: rgb(133, 255, 214);
  transform: translate(0px, 3px);
  box-shadow: 0 2px 0px 0px rgb(0, 127, 136);
}
