.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ////////////////////////////////////////////////////// */
.label {
  text-align: center;
  padding: 0px 3px 1px 3px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 10px;
}

.Corvid {
  background-color: gray;
}

.Api {
  background-color: lightblue;
}

.Guidelines {
  background-color: lightgreen;
}

.Problem {
  background-color: tomato;
}

.Login {
  background-color: lightcoral;
}

.Tutorial {
  background-color: cyan;
}

.View.Count {
  background-color: cornflowerblue;
}
